main {
  color: white;
  height: 100%;
  width: 100%;
  font-size: 30px;
  padding: 30px;
}
main .mainTop {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
main .mainTop .continue {
  margin-bottom: 20px;
}
main .mainTop .moviesTop {
  display: flex;
  column-gap: 10px;
}
main .mainTop .moviesTop .wwzMovie .watchingProgress {
  display: flex;
}
main .mainTop .moviesTop .wwzMovie .watchingProgress .watchingProgress--red {
  margin-left: 50px;
  height: 3px;
  width: 90px;
  background-color: red;
}
main .mainTop .moviesTop .wwzMovie .watchingProgress .watchingProgress--grey {
  height: 3px;
  width: 100px;
  background-color: grey;
}
main .mainTop .moviesTop .bozecialoMovie .watchingProgress {
  display: flex;
}
main .mainTop .moviesTop .bozecialoMovie .watchingProgress .watchingProgress--red {
  margin-left: 50px;
  height: 3px;
  width: 30px;
  background-color: red;
}
main .mainTop .moviesTop .bozecialoMovie .watchingProgress .watchingProgress--grey {
  height: 3px;
  width: 150px;
  background-color: grey;
}
main .mainTop .moviesTop .ShrekMovie .watchingProgress {
  display: flex;
}
main .mainTop .moviesTop .ShrekMovie .watchingProgress .watchingProgress--red {
  margin-left: 50px;
  height: 3px;
  width: 160px;
  background-color: red;
}
main .mainTop .moviesTop .ShrekMovie .watchingProgress .watchingProgress--grey {
  height: 3px;
  width: 30px;
  background-color: grey;
}
main .mainTop .moviesTop .nazachodzieMovie .watchingProgress {
  display: flex;
}
main .mainTop .moviesTop .nazachodzieMovie .watchingProgress .watchingProgress--red {
  margin-left: 50px;
  height: 3px;
  width: 120px;
  background-color: red;
}
main .mainTop .moviesTop .nazachodzieMovie .watchingProgress .watchingProgress--grey {
  height: 3px;
  width: 70px;
  background-color: grey;
}
main .mainTop .moviesTop .klausMovie .watchingProgress {
  display: flex;
}
main .mainTop .moviesTop .klausMovie .watchingProgress .watchingProgress--red {
  margin-left: 50px;
  height: 3px;
  width: 0px;
  background-color: red;
}
main .mainTop .moviesTop .klausMovie .watchingProgress .watchingProgress--grey {
  height: 3px;
  width: 190px;
  background-color: grey;
}
main .mainCenter, main .mainCenter_2, main .mainBottom {
  position: relative;
  margin-top: 13px;
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 1845px;
}
main .mainCenter .rightArrow, main .mainCenter_2 .rightArrow, main .mainBottom .rightArrow {
  position: absolute;
  z-index: 1;
  top: 20%;
  right: 0px;
  padding: 12px;
  background-color: transparent;
  border: none;
  transition: 1s;
}
main .mainCenter .arrow-container, main .mainCenter_2 .arrow-container, main .mainBottom .arrow-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}
main .mainCenter .rightArrow:hover, main .mainCenter_2 .rightArrow:hover, main .mainBottom .rightArrow:hover {
  background-color: red;
}
main .mainCenter .leftArrow:hover, main .mainCenter_2 .leftArrow:hover, main .mainBottom .leftArrow:hover {
  background-color: red;
}
main .mainCenter .leftArrow, main .mainCenter_2 .leftArrow, main .mainBottom .leftArrow {
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 0px;
  padding: 12px;
  background-color: transparent;
  border: none;
  transition: 1s;
}
main .mainCenter .myList, main .mainCenter_2 .myList, main .mainBottom .myList {
  margin-bottom: 10px;
}
main .mainCenter .moviesCenter, main .mainCenter_2 .moviesCenter, main .mainBottom .moviesCenter {
  transition: 1s;
  position: relative;
  display: flex;
  column-gap: 10px;
}/*# sourceMappingURL=main.css.map */